.counter {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 20px;
    margin: 0 auto;
}

.count,.count-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.count {
    padding: 0px 20px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.count-btn {
    width: 40px;
    height: 40px;
    color: #0065F2;
    cursor: pointer;
    border: 1px solid #E8E9EB;
    border-radius: 4px;
}