/* display flex with justify content center */
.card-details {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 60px;
}

/* image wrapper with width 400px and height auto */
.thumbnail-wrapper {
    width: 400px;
    height: auto;
}

/* image */
.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* detail text with padding 15px and text align center */
.detail-text {
    padding: 15px;
    text-align: center;
}