/* fixed top header bar with height 60px */
.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0px 35px;
}

.header-bar .title {
    font-size: 25px;
    font-weight: 600;
    color: #000;
}